<ion-view view-title="Bienvenue sur Multilingua">
        <ion-content class="has-header padding">
            <div class="list">
                <img src="img/logo2.jpg" class="logo">
             </div>

            <form name="loginForm" class="list card no-margin">

                <ion-input class="item item-input item-stacked-label" >
                    <ion-label >Email</ion-label>
                    <input type="email" name="email" placeholder="Your email..." ng-model="data.email">
                </ion-input>

                <ion-input class="item item-input item-stacked-label" >
                    <ion-label >Password</ion-label>
                    <input type="password" name="password" placeholder="Your Password..." ng-model="data.password">
                </ion-input>

                <ion-input class="item-input padding">
                    <button class="button button-block button-positive" ng-click="login()">Login</button>
                </ion-input>
            </form>

        </ion-content>
</ion-view>