<ion-view view-title="{{langue.nom}}">
    <ion-content>

        <ion-list>
            <ion-item class="item item-icon-right item-button-right" ng-repeat="lecon in cours" href="#/tab/cours/{{langue.id}}/{{lecon.id}}">
                <h2>{{lecon.libelle}}</h2>
                <p>{{lecon.sousLibelle}}</p>
                <i class="icon ion-chevron-right icon-accessory"></i>
                <div class="buttons">
                    <button ng-show="!lecon.audio" class="button button-icon icon ion-document-text custom-icon"></button>
                    <button ng-show="lecon.audio" class="button button-icon icon ion-ios-musical-notes custom-icon"></button>
                    <button ng-show="lecon.termine" class="button button-icon icon ion-checkmark-round custon_icon_mark"></button>
                </div>

            </ion-item>
        </ion-list>

    </ion-content>
</ion-view>