<ion-view>
    <ion-nav-title>{{lecon.libelle}}</ion-nav-title>
    <ion-content class="padding">
        <div class="list card">
            <div class="item item-title">
                <h2>{{lecon.libelle}}</h2>
                <p>{{lecon.sousLibelle}}</p>
            </div>

            <div class="item item-body">
                <!-- Cas d'une leçon écrite sous forme d'accordéon à déplier -->
                <div ng-show="!lecon.audio">
                    <p>Lisez votre leçon du jour et pratiquez avec les exercices !</p>
                    <ion-list>
                        <div ng-repeat="chapitre in chapitres">
                            <ion-item class="item-stable"
                                      ng-click="toggleGroup(chapitre)"
                                      ng-class="{active: isGroupShown(chapitre)}">
                                    <i class="icon" ng-class="isGroupShown(chapitre) ? 'ion-minus' : 'ion-plus'"></i>
                                    {{chapitre.titre}}
                            </ion-item>
                            <ion-item ng-show="isGroupShown(chapitre)">
                                <p class="contenu_chapitre">{{chapitre.contenu}}</p>
                            </ion-item>
                        </div>
                    </ion-list>

                </div>

                <!-- Cas d'une leçon audio gérée avec médias -->
                <div ng-show="lecon.audio">
                    <p>Ecoutez votre leçon du jour et pratiquez avec les exercices !</p>
                    <div class="button-bar">
                        <a class="button icon ion-play button-positive" ng-click="playMedia()"></a>
                        <a class="button icon ion-pause button-positive" ng-click="pauseMedia()"></a>
                        <a class="button icon ion-stop button-positive" ng-click="stopMedia()"></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="padding row">
            <div class="col text-center">
                <p>
                    <a class="button icon-right ion-chevron-right button-energized" href="#/tab/cours/{{langue.id}}/{{lecon.id}}/{{exercice}}/{{leconEnCoursId}}/{{exEnCours}}">Exercices</a>
                </p>
            </div>
        </div>

    </ion-content>
</ion-view>