<ion-view>
    <ion-nav-title>Formations en {{langue.nom}}</ion-nav-title>
    <ion-content>

            <div class="item item-divider">
                Notification 1h avant la formation
            </div>
            <ion-toggle toggle-class="toggle-positive"
                        ng-repeat="date in dates"
                        ng-model="date.checked"
                        ng-checked="date.checked"
                        ng-change="pushNotificationChange(date)">
                <h2>  {{date.dateformat}} à {{date.heure}}</h2>
                <p>Lieu : {{date.lieu}} </p>
            </ion-toggle>

    </ion-content>
</ion-view>

